@import url('https://fonts.googleapis.com/css??family=Poppines:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0b0b0b;
}

.btn{
    padding: 50px, 10px;
    background-color: blueviolet;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 25px blueviolet;
    font-size: 32px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}